* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.wrapper {
     width: 80%;
     min-width: 970px;
     border: 1px solid #000;
     margin: 0 auto;
     text-align: center;
}

.wrapper ul {
    display: inline-block;
}

.wrapper ul li {
    float: left;
    /* display: inline-block; */
    
}

.wrapper ul li .box {
    width: 200px;
    border: 1px solid red;
    padding: 10px;
    margin: 5px 10px
}

.wrapper ul li img{
    width: 100%;
    border: 1px solid blue;
    display: inline-block;
}

.wrapper ul li span {
     text-align: center
}

.wrapper .loading {
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #bbb;
    font-size: 30px;
    font-weight: 600;
    display: none;
}